<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home To-do</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />

    <!--js-->
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <label class="badge bg-primary" th:inline="text">User: [[${#httpServletRequest.remoteUser}]]!</label>
    <input class="btn btn-warning" type="submit" value="Sign out" />
</form>

<h1 th:text="#{loda.message.hello}"></h1>

<a th:href="@{/listTodo}" th:text="#{loda.value.viewListTodo}" class="btn btn-primary"></a>
<a th:href="@{/addTodo}" th:text="#{loda.value.addTodo}" class="btn btn-success"></a>
<a th:href="@{/api/v1/todo}" th:text="#{losa.value.todoList}" class="btn btn-danger"></a>
<a th:href="@{/api/v1/users}" th:text="#{losa.value.viewUser}" class="btn btn-success"></a>


</body>

</html>